input[type=file] {
  border: 1px solid #999;
  border-radius: 0;
  -webkit-appearance: none;
  margin-top: 20px;
  margin-left: 10px;
}
input[type=checkbox] {
  margin-top: 5px;
  margin-left: 10px;
}
body {
  width:90%;
  font-family: 'Oswald', sans-serif;
}

div#titleBody {
  width: 34%;
}

div#mainBody {
  float: left;
  width: 30%;
  height: 80%;
  overflow-y: scroll;
}

div#renderBody {
  float: right;
  width: 65%;
}

div#swatch_holder {
  float: left;
  width: 95%;
}

div#swatches {
  float: left;
  width:  99%;
  height: 5%;
}

.lined { display : inline; }
h1 { display: inline }
span { display: inline }
