input[type=file] {
  border: 1px solid #999;
  border-radius: 0;
  -webkit-appearance: none;
  margin-top: 20px;
  margin-left: 10px;
}
body {
  width:90%;
  font-family: 'Oswald', sans-serif;
}

div#titleBody {
  width: 34%;
}

div#mainBody {
  float: left;
  width: 30%;
}

div#renderBody {
  float: right;
  width: 65%;
}

div#swatch_holder {
  width: 45%;
}

div#swatches {
  width:  20%;
  height: 5%;
}
